/*
============================================
; Title: Kendl-sequence-game.css
; Author: Professor Krasso 
; Date: 19 November 2021
; Modified By: Laura Kendl
; Description: This is the css for
; the sequence game assignment.
;===========================================
*/
#container {
    padding: 10px;
}

#form-example {
    width: 600px;
    margin: 3% auto 0;
}

#form-results-example {
    width: 600px;
    margin: 3% auto 0;
}

.app-header {
    text-align: center;
    font-size: 28px;
}

#results {
    text-align: center;
    font-size: 28px;
}

#results-container {
    display: flex;
    justify-content: center;
}