#container {
    padding: 10px;
}

#form-example {
    width: 600px;
    margin: 3% auto 0;
}

#form-results-example {
    width: 600px;
    margin: 3% auto 0;
}

.app-header {
    text-align: center;
    font-size: 28px;
}

#results {
    text-align: center;
    font-size: 28px;
}